

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    color: #000000;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.header span {
    display: inline-block;
    animation: moveText 10s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin-top: 48px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.content {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

.content.active {
    padding-top: 110px;
}

.findbtn {
    height: 40px;
    border-radius: 50px;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #333;
}

a {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

#admin-login {
    display: block;
}

#signup {
    display: none;
}

.toggle-link {
    text-align: center;
    margin-top: 20px;
}

.toggle-link a {
    margin: 0 10px;
}


.slider-container {
    max-width: 100%;
    overflow: hidden;
    margin-top: auto;
    
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    vertical-align: middle;
    height: 40%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}
